@import '../../shared.sass'

.bgOverlay
    background-size: contain
    background-attachment: fixed
    background-position: center

    .overlayDiv
        min-height: 100vh
        background: rgba($background, 0.8)
