.category {
    padding: 10px 0;

    .header {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        gap: 10px;
        align-items: center;
        justify-content: center;
        padding: 5px 0;
        font-size: 30px;

        hr {
            margin: 0;
            color: rgba($color: #333, $alpha: 0.5);
        }
    }

    .children {
        padding: 0 20px;
    }
}
