@import '../../shared.sass'

.socialLink
    display: flex
    align-items: center
    justify-content: center
    border-radius: 50%
    box-shadow: $boxShadow

    a
        display: flex
        background-color: $secondaryVariant
        text-decoration: none
        padding: 10px

        &.icon
            border-radius: 50%

        &.tripad
            padding: 5px 10px
            border-radius: 30px
            width: 40vw

            .logo
                width: 100%

        .icono
            color: white
            font-size: 7vw
