@import '../../shared.sass'

.socialLink
    display: flex
    align-items: center
    justify-content: center

    a
        display: flex
        background-color: $secondaryVariant
        text-decoration: none
        border-radius: 50%
        padding: 10px

    .nombre
        font-size: 4vw

    .icono
        color: $lightTextBright
        font-size: 15vw
