@import '../../shared.sass'

.search-container
    display: flex
    align-items: center
    justify-content: center

    #results
        display: none
        flex-direction: column
        align-items: center
        justify-content: center
        width: 100%
        top: 100%
        left: 0
        background-color: rgba($lightTextDisabled, 0.2)

        &.active
            display: flex

    input
        position: relative
        width: 100%
        box-sizing: border-box
        border: none
        color: $darkText
        background-color: 'white'
        outline: none
        padding: 10px
