.plato {
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: #333;
    color: white;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px;
    align-items: center;

    img {
        grid-row: span 3;
        width: 100%;
    }

    .infoContainer {
        display: grid;
        gap: 10px;
        padding: 20px;
    }

    .nombre {
        font-weight: bold;
        font-size: 1.5rem;
    }
}
