.plato {
    display: grid;
    grid-template-columns: 65% 35%;
    background-color: #333;
    color: white;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px;
    align-items: center;

    img {
        grid-row: span 3;
        width: 100%;
    }

    .nombre,
    .desc,
    .precio {
        padding: 10px;
    }

    .nombre {
        font-weight: bold;
        font-size: 3vw;
    }
}
