@import '../../shared.sass'

#navbar
    background-color: $background
    display: flex
    justify-content: space-around
    top: 0
    box-shadow: $boxShadow
    z-index: 10

    > *
        display: flex
        align-items: center
        padding: 10px
        color: $lightTextBright

    .icono
        font-size: 35px

    #searchIcon
        color: $lightTextBright

        &.active
            color: $secondaryVariant

    a
        font-size: 30px
        text-decoration: none
        border-bottom: 3px solid $background

        &.active
            border-bottom-color: $secondaryVariant

    .search
        font-size: 30px
        color: $lightTextBright
