@import '../../shared.scss';

.Navbar {
    background-color: $color1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        font-size: 3vw;
        padding: 10px;
        text-decoration: none;
        color: whitesmoke;
    }

    .logo-container {
    }

    .links {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}
