// $color1: #333
// $color2: #7f5539
// $colorLightText: #ede0d4

// $x-ligth: #ede0d4
// $m-ligth: #e6ccb2
// $l-medium: #ddb892
// $l-dark: #b08968
// $m-dark: #9c6644
// $x-dark: #7f5539

// $darkBrown: #3b2100
// $mediumBrown: #603808
// $accent: #d4a276
// $lightText: #eed8c4

$background: #121212
$primaryColor: #bb86fc
$primaryVariant: #3700b3
$secondaryColor: #03dac5
$secondaryVariant: #209d88
$error: #cf6679
$lightTextBright: rgba(#ffffff, 0.87)
$lightTextMedium: rgba(#ffffff, 0.6)
$lightTextDisables: rgba(#ffffff, 0.38)
$darkText: #000000

$boxShadow: 0 3px 15px rgba($background, 0.8)
