.banner {
    color: white;
    background-position: center;
    background-size: cover;
    font-size: 20px;

    .infoContainer {
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nombre {
        font-size: 40px;
    }
}
